body{
    margin: 0;
    padding: 0;
overflow-y: hidden;
}
.body {
  text-align: center;
  padding-top: 50px;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.center {
  width: 30%;
  height: 25vh;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
}
.white {
  border: 2px solid red;
  box-shadow: 0px 0px 10px 3px black;
  color: rgb(43, 41, 41);
  text-shadow: 0px 0px 20px rgb(206, 41, 41);
  background-color: rgb(250, 214, 214);
  transition: all 1.5s ease-out;

}
.black {
  border: 2px solid yellow;
  box-shadow: 0px 0px 10px 3px white;
  color: white;
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  background-color: #242426;
  transition: all 1.5s ease-in;

}

.add {
  border-radius: 10px;
  margin-top: 10%;
  margin-right: 10px;
  padding: 10px;
  width: 70px;
    font-weight: bolder;
}

.minus {
  border-radius: 10px;
  width: 70px;
  padding: 10px;
  font-weight: bolder;
}
.Mode {
  width: 30%;
  margin: 10px auto;
  text-align: end;
}
#sunmoon {
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;
}
.soft{
    background-color: rgb(250, 214, 214);
  transition: all 1.5s ease-in-out;

}.hard{
    background-color: #242426;
  transition: all 1.5s ease;


}
@media only screen and (max-width:520px) {
    .add , .minus{
        width: 100%;
    }
.center{
    width: 50%;
    height:30vh ;
}.Mode{
    width: 50%;
}

    .minus{margin-top: 10px;}
    
}